.sl-markdown-content h1:not(:where(.not-content *)) {
  letter-spacing: -0.025em;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
  scroll-margin: 5rem;
}

@media (min-width: 1024px) {
  .sl-markdown-content h1:not(:where(.not-content *)) {
    font-size: 3rem;
    line-height: 1;
    line-height: 1;
  }
}

.sl-markdown-content :not(h1, h2, h3, h4, h5, h6, .sl-heading-wrapper) + :is(.sl-heading-wrapper) {
  margin-top: 1rem;
}

.sl-markdown-content h2:not(:where(.not-content *)) {
  & {
    letter-spacing: -0.025em;
    font-weight: 600;
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    line-height: 2.25rem; /* 36px */
    padding-bottom: 0.5rem; /* 8px */
    scroll-margin: 5rem; /* 80px */
    width: 100% !important;
  }
}

.sl-markdown-content h2:not(:where(.not-content *)):first-child {
  margin-top: 2rem;
}

.sl-markdown-content h3:not(:where(.not-content *)) {
  letter-spacing: -0.025em;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  line-height: 2rem;
  margin: 0;
  scroll-margin: 5rem;
}

.sl-markdown-content h4:not(:where(.not-content *)) {
  letter-spacing: -0.025em;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  line-height: 1.75rem;
  margin: 0;
  scroll-margin: 5rem;
}
