.sl-markdown-content table:not(:where(.not-content *)) {
  width: 100%;
  text-indent: 0;
  border-style: inherit;
  border-collapse: collapse;
}

.sl-markdown-content table:not(:where(.not-content *)) > thead > tr {
  border-top-style: solid;
  margin: 0;
  padding: 0;
  border-top-width: 1px;
}

.sl-markdown-content table:not(:where(.not-content *)) > thead > tr > th {
  font-weight: 700;
  text-align: left;
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-style: solid;
}

.sl-markdown-content table:not(:where(.not-content *)) > thead > tr > th[align="right"] {
  text-align: right;
}

.sl-markdown-content table:not(:where(.not-content *)) > thead > tr > th[align="center"] {
  text-align: center;
}

.sl-markdown-content table:not(:where(.not-content *)) > tbody > tr {
  margin: 0;
  padding: 0;
  border-top-width: 1px;
}

.sl-markdown-content table:not(:where(.not-content *)) > tbody > tr:nth-child(even) {
  --un-bg-opacity: 1;
  background-color: hsl(var(--muted) / var(--un-bg-opacity));
}

.sl-markdown-content table:not(:where(.not-content *)) > tbody > tr > td {
  text-align: left;
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-style: solid;
}

.sl-markdown-content table:not(:where(.not-content *)) > tbody > tr > td[align="right"] {
  text-align: right;
}

.sl-markdown-content table:not(:where(.not-content *)) > tbody > tr > td[align="center"] {
  text-align: center;
}
