@import './mdx-title.css';
@import './mdx-table.css';
@import './mdx-tabs.css';

.sl-markdown-content {
  margin-top: 1.5rem;
}

.sl-markdown-content summary:not(:where(.not-content *))::marker, .sl-markdown-content summary:not(:where(.not-content *))::-webkit-details-marker{
  display: none;
  content: "";
}

.sl-markdown-content details:not(:where(.not-content *)) {
  padding-inline-start: 0.5rem;
}

.sl-markdown-content p:not(:where(.not-content *)):not(li p) {
  & {
    line-height: 1.75rem; /* 28px */
  }
  &:first-child {
    margin-top: 1.5rem; /* 24px */
  }
}

.sl-markdown-content blockquote:not(:where(.not-content *)) {
  font-style: italic;
  margin-top: 1.5rem;
  margin: 0;
  padding-left: 1rem;
  border-left-width: 2px;
  border-left-style: solid;
}

.sl-markdown-content ul:not(:where(.not-content *)) {
  list-style-type: disc;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li {
  margin-top: 0.5rem;
}

.sl-markdown-content code:not(:where(.not-content *)) {
  position: relative;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  font-family: var(--sl-font-mono), monospace;
}

.sl-markdown-content a:not(:where(.not-content *)) {
  text-decoration-style: dashed;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-offset: 4px;
  color: inherit;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.sl-markdown-content a:not(:where(.not-content *)):hover {
  text-decoration-style: solid;
}

.sl-markdown-content img {
  border-radius: var(--radius);
}

.expressive-code .frame{
  --un-border-opacity: 1;
  border-width: 1px;
  border-color: hsl(var(--border) / var(--un-border-opacity));
  --at-apply: border;
  --un-shadow: 0 0 var(--un-shadow-color, rgb(0 0 0 / 0)) !important;
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
    var(--un-shadow) !important;
  border-radius: var(--radius);
}

.expressive-code .has-title pre {
  border-radius: var(--radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.expressive-code .has-title .header {
  border-radius: var(--radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.expressive-code .is-terminal .header {
  border-radius: var(--radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.expressive-code .is-terminal pre {
  border-radius: var(--radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.expressive-code pre {
  border-radius: var(--radius);
}

.expressive-code .frame.has-title:not(.is-terminal) .title {
  background-color: transparent;
}

.sl-markdown-content ol {
  margin-top: 0.5rem;
}

.starlight-aside {
  border-radius: calc(var(--radius) - 2px);
}

.sl-markdown-content p:not(:where(.not-content *)):not(li p):first-child {
  margin-top: 0;
}

