@import './mdx-title.css';
@import './mdx-table.css';
@import './mdx-tabs.css';

.sl-markdown-content {
  --at-apply: mt-6;
}

.sl-markdown-content summary:not(:where(.not-content *))::marker, .sl-markdown-content summary:not(:where(.not-content *))::-webkit-details-marker{
  --at-apply: hidden content-empty;
}

.sl-markdown-content details:not(:where(.not-content *)) {
  padding-inline-start: 0.5rem;
}

.sl-markdown-content p:not(:where(.not-content *)):not(li p) {
  --at-apply: leading-7 first:mt-6;
}

.sl-markdown-content blockquote:not(:where(.not-content *)) {
  --at-apply: italic mt-6 m-0 pl-4 border-l-2;
  border-left-style: solid;
}

.sl-markdown-content ul:not(:where(.not-content *)) {
  --at-apply: list-disc ml-4 my-0;
}

.sl-markdown-content ul:not(:where(.not-content *)) > li {
  --at-apply: mt-2;
}

.sl-markdown-content code:not(:where(.not-content *)) {
  --at-apply: relative rounded text-sm font-semibold px-[0.3rem] py-[0.2rem];
  font-family: var(--sl-font-mono), monospace;
}

.sl-markdown-content a:not(:where(.not-content *)) {
  --at-apply: font-medium underline decoration-dashed underline-offset-4 text-inherit transition-colors;
  text-decoration-style: dashed;
}

.sl-markdown-content a:not(:where(.not-content *)):hover {
  --at-apply: decoration-solid;
  text-decoration-style: solid;
}

.expressive-code .frame.has-title:not(.is-terminal) .title {
  --at-apply: bg-transparent;
}

.sl-markdown-content ol {
  --at-apply: mt-2;
}

.starlight-aside {
  --at-apply: rounded-md;
}

.sl-markdown-content p:not(:where(.not-content *)):not(li p):first-child {
  --at-apply: mt-0;
}

