@import './styles/variables.css';

:root:root {
  --sl-font: 'Geist Sans', sans-serif;
  --sl-font-mono: 'Geist Mono', monospace;

  --header-height: 4rem;
  /* Gap under header for sticky sidebars */
  --sl-sidebar-gap: 2.375rem;

  --sl-color-text-accent: hsl(var(--primary));
}

* {
  scrollbar-color: hsl(var(--border)) transparent;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-tap-highlight-color: transparent;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: var(--sl-font), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --un-bg-opacity: 1;
  background-color: hsl(var(--background) / var(--un-bg-opacity))
    /* hsl(var(--background)) */;
  min-height: 100svh;
  --un-text-opacity: 1;
  color: hsl(var(--foreground) / var(--un-text-opacity))
    /* hsl(var(--foreground)) */;
  overscroll-behavior: none;
  line-height: inherit;
  margin: 0;

  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
}

.container-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1800px) {
  .container-wrapper {
    max-width: 1536px;
  }
}


@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

.container {
  max-width: 1536px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.makrdown-wrapper:has(.container-section) {
  padding-top: 0;
  padding-bottom: 0;
}

.button[data-variant='ghost'] {
  align-items: center;
  background-color: transparent;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1.25rem;
  border-radius: calc(var(--radius) - 2px);
  white-space: nowrap;
  gap: 0.5rem;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-color: none;
}

.button[data-variant='ghost']:hover {
  --un-text-opacity: 1;
  color: hsl(var(--accent-foreground) / var(--un-text-opacity));
  --un-bg-opacity: 1;
  background-color: hsl(var(--accent) / var(--un-bg-opacity));
}
